.title {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid $border-line;
  &__h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  &__add-button {
    width: 100%;
    background-color: $button-submit;
    color: $button-text;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1.25rem;
    margin-bottom: 2rem;
    outline: none;
    border-style: none;
    &:hover {
      background-color: $nav-background;
    }
  }
}

.search-form {
  position: relative;
  &__searchbar {
    width: 100%;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.25rem;
    background: url("../assets/Icons/search-24px.svg") no-repeat right center;
    background-size: 1.1rem 1.1rem;
    margin-bottom: 1.5rem;
    border: 1px solid $border-line;
    &:focus {
      outline: 0 none;
      border: 1px solid $button-submit;
    }
  }
}
