$nav-background: #232940;
$globalText-black:#13182C;
$interactiveElements-indigo:#2E665E;
$globalColor-white:#FFFFFF;
$slate:#5C667E;
$graphite:#232940;
$green:#158463;
$cloud:#BDC5D5;
$light-grey:#F7F8F9;
$red:#C94515;
